.auth-container {
    display: flex;
    height: 100vh; /* Altura total da tela */
}

.calendar-section {
    flex: 1; /* Lado esquerdo para o calendário */
    padding: 20px;
    background-color: #f7f7f7; /* Cor de fundo do calendário */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-section {
    flex: 1; /* Lado direito para login/signup */
    padding: 20px;
    background-color: #e9ecef; /* Cor de fundo do formulário */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Espaço entre os formulários */
}

div {
    margin-bottom: 15px;
}
